/* Mulish fonts from google fonts */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap");

* {
  font-family: "Mulish", sans-serif;
}

/* header sections */

header {
  padding: 50px 120px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 2rem;
  font-weight: 800;
}

.nav-title img {
  width: 48px;
  height: 50px;
}
.travels {
  color: #ff5400;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 40px;
  font-size: 1rem;
  font-weight: 700;
  color: #424247;
}
.home {
  color: #ff5400;
}
nav li a {
  text-decoration: none;
}

/* banner sections */

.banner-content {
  text-align: center;
  border-radius: 16px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  ), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
}

.banner-title {
  font-size: 4rem;
  font-weight: 800;
  color: #fff;
}
.banner-description {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

.input-field {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  display: inline-flex;
  gap: 15px;
}

.input {
  border-radius: 8px;
  background: #fff;
  padding: 15px;
  border: none;
}
select {
  border-radius: 8px;
  background: #fff;
  padding: 15px 40px;
  border: none;
}

.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  padding: 15px 40px;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

/* tour sections */

.tour-section {
  padding: 50px 120px;
  display: flex;
  gap: 50px;
}
.tour-title {
  font-size: 2.5rem;
  font-weight: 800;
}
.tour-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
}
.tour-description,
li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 20px;
}
.destination-section {
  text-align: center;
}
.destination-title {
  font-size: 2.5rem;
  font-weight: 800;
}
.destination-description {
  padding: 0 200px;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.7);
}

/* responsive sections */
@media screen and (max-width: 600px) {
  .logo {
    height: 20px;
    width: 25px;
  }
  .banner-content {
    background-position: center;
    height: 80%;
  }
  .banner-title,
  .nav-title,
  .tour-title,
  .destination-title {
    font-size: 1.8rem;
    font-weight: 800;
  }
  .tour-section,
  .input-field,
  nav,
  nav ul {
    flex-direction: column;
  }
  header,
  .tour-section,
  .destination-section,
  .destination-description {
    padding: 15px;
  }
  .destination-img img {
    width: 100%;
  }
  .tour-img {
    width: 100%;
  }
}
