/* Mulish fonts from google fonts */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap");

* {
  font-family: "Mulish", sans-serif;
}

/* header sections */

header {
  padding: 50px 120px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 2rem;
  font-weight: 800;
}

.nav-title img {
  width: 48px;
  height: 50px;
}
.travels {
  color: #ff5400;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 40px;
  font-size: 1rem;
  font-weight: 700;
  color: #424247;
}
.home {
  color: #ff5400;
}
nav li a {
  text-decoration: none;
}

/* banner sections */

.banner-content {
  text-align: center;
  border-radius: 16px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  ), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
}

.banner-title {
  font-size: 4rem;
  font-weight: 800;
  color: #fff;
}
.banner-description {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

.input-field {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  display: inline-flex;
  gap: 15px;
}

.input {
  border-radius: 8px;
  background: #fff;
  padding: 15px;
  border: none;
}
select {
  border-radius: 8px;
  background: #fff;
  padding: 15px 40px;
  border: none;
}

.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  padding: 15px 40px;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

/* tour sections */

.tour-section {
  padding: 50px 120px;
  display: flex;
  gap: 50px;
}
.tour-title {
  font-size: 2.5rem;
  font-weight: 800;
}
.tour-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
}
.tour-description,
li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 20px;
}
.destination-section {
  text-align: center;
}
.destination-title {
  font-size: 2.5rem;
  font-weight: 800;
}
.destination-description {
  padding: 0 260px;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.7);
}
.destination-img div{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.choose-section{
  text-align: center;
  padding: 50px 120x;
  margin-top: 80px;
  margin-bottom: 80px;
}
.choose-title{
  font-size: 1.5rem;
  font-weight: 800;
}
.choose-description{
  color: rgba(19, 19, 24, 0.70);
  font-size: 1rem;
  font-weight: 400;
}
.choose-card-1{
  padding: 50px 140px;
  display: flex;
  gap: 50px;
  text-align: left;
}
.choose-card-2{
  padding: 0 450px;
  text-align: left;
}
.hotel-card{
  border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 30px;
}
.map-card{
  border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding: 30px;
}
.price-card{
  border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
padding: 30px;
}

.perfect-place-section{
  display: flex;
  gap: 50px;
  padding: 50px 120px;
  text-align: left;
  margin-top: 20px;
}
.perfect-place-section li{
  color: #131318;
  font-size: 16px;
  font-weight: 700;
}

.perfect-place-title{
  font-size: 2rem;
  font-weight: 800;
}
.perfect-place-description{
  color: #5A5A5D;
  font-size: 1rem;
  font-weight: 400;
}
.perfect-place-img{
  border-radius: 16px;
  background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
}

.newsletter-section{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 50px 140px;
}

.newsletter-title{
  font-size: 1.5rem;
  font-weight: 800;
  text-align: left;
}

.newsletter-description{
  color: #5A5A5D;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.contact input{
  display: block;
  margin: 20px 0;
  padding: 20px 30px;
  border-radius: 8px;
  border: none;
  background: rgba(19, 19, 24, 0.05);
  width: 90%;
}
.btn-sub{
  border-radius: 8px;
  background: #ff5400;
  padding: 15px 40px;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  width: 80%;
}

/* footer section */

.footer-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer{
  background: rgba(19, 19, 24, 0.05);
  padding: 50px 140px;
}
.footer-title{
  font-size: 2rem;
  font-weight: 800;
}
.footer-description{
  text-align: center;
  margin-bottom: 30px;
  color: #5A5A5D;
  font-size: 1rem;
  font-weight: 400;
}


.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.copyright{
  text-align: center;
  margin-top: 30px;
  font-size: 1rem;
  font-weight: 300;
}


/* responsive sections */
@media screen and (max-width: 600px) {
  .logo {
    height: 20px;
    width: 25px;
  }
  .banner-content {
    background-position: center;
    height: 80%;
  }
  .banner-title,
  .nav-title,
  .tour-title,
  .destination-title {
    font-size: 1.8rem;
    font-weight: 800;
  }
  .tour-section,
  .input-field,
  nav,
  nav ul,
  .choose-card-1,
  .perfect-place-section,
  .newsletter-section,
  .destination-img div {
    flex-direction: column;
  }
  header,
  .tour-section,
  .destination-section,
  .destination-description,
  .choose-card-1,
  .choose-card-2,
  .perfect-place-section,
  .newsletter-section,
  .footer {
    padding: 15px;
  }
  .destination-img img {
    width: 100%;
  }
  .tour-img,
  .perfect-place-img,
  .newsletter-img {
    width: 100%;
  }
}
